a:hover{
  text-decoration: none;
  color: white;
}
p{
  margin-bottom: 10px;
}
.section{
  padding-top:40px;
}
p.article_credits{
  line-height: 1.25;
  margin-bottom: 10px;
}
.arthead{
  width: 100%;
}
.story-image{
  width: 100%;
  margin: 10px 0 10px 0;
}
#menu-wrap{
  background-color: #E6E7E8;
  z-index: 9999;
  position: fixed;
  height: 50px;
  width: 100%;
}
.story_headline{
  position: fixed;
  right: 0 !important;
}
iframe{
  min-height: 0 !important;
}
.scroll-more{
  text-align: center;
  display: block !important;
  line-height: .5;
  padding-top: 20px;
}
.scroll-more img{
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
#interactive-container{
  position: relative;
height: 0;
overflow: hidden;
}
#interactive-frame{
position: absolute;
 top:0;
 left: 0;
 width: 100%;
 height: 100%;
}
.dots-nav-mobile{
  margin-top: 25vh;
  right: 10px;
  position: fixed;
}
.dots-nav-mobile ul{
  list-style-type: none;
}
.dots-nav-mobile ul li{
  display: block;
width: 14px;
height: 14px;
margin: 7px;
position: relative;
padding-top: 50px;
}
.dots-nav-mobile ul li a{
  display: block;
position: relative;
z-index: 9999;
width: 100%;
height: 100%;
cursor: pointer;
text-decoration: none;
}
.dots-nav-mobile ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 14px;
  width: 14px;
  border: 1px solid #9C9994;
  background: #E2E0DD;
  left: 50%;
  top: 50%;
  margin: 0 0 0 0;
}
.nav-toggle:before{
  color: #008A8E;
}
#nav_ul, #sub-nav{
  padding-left: 0;
}
.article_subhead{
  font-size: 3vh;
  padding-bottom: 20px;
}
#sub-nav{
  margin-left: 20px;
  overflow-y: hidden;
  height: 220px;
  transition: height .45s ease-out;
  font-size: .9em;
  padding-bottom: 10px;
}
#sub-nav li{
  padding-bottom: 5px;
}
.no-display{
  height: 0 !important;
}
.video-padding{
  padding: 60px 0 0 0 !important
}
.arrows-chapters{
  height: 150px;
  transition: width 3s;
  width: 0;
}
.arrows-chapters img{
  margin-top: 100%;
}
#buttons, #credits{
  padding-top: 20px;
}
