/* General */
body {
  background-color: #33A1A5;
  font-size: 14pt;
  font-family: "proxima-nova", sans-serif;
  font-weight: 400;
  color: #282423;
  height: 100%;
}
a:hover{
  text-decoration: none;
}
p{
  margin-bottom: 0;
}
.video-padding {
  padding-top: 0px !important;
  padding-bottom: 60px !important;
  margin-bottom: 15px;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#home_section {
  color: white;
  height: 100vh;
}

#home_section ul {
  list-style-type: none;
  padding-left: 0;
}

#home_section > ul > li {
  display: inline-block;
  font-family: 'CooperHewitt-Medium';
}

iframe {
  height: 100px;
}

/* CUSTOM */

.container-home {
  position: absolute;
  top: 0px;
  width: 100%;
  margin: 0 auto;
}

.home_headline {
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: 'CooperHewitt-Light', sans-serif;
  font-size: 4em;
  letter-spacing: 15px;
  opacity: 1.0;
  line-height: .65;
  margin-top: 75px;
  margin-bottom: 50px;
  text-shadow: 0px 0px 15px rgba(39, 71, 110, 0.3)
}

h3 {
  font-family: "CooperHewitt-Medium", sans-serif;
  font-weight: 300;
  font-size: 15pt;
  text-shadow: 0px 0px 20px rgba(40, 36, 45, 0.5);
  color: white;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.25;
  padding: 0 5px 0 5px;
}

.no_spacing {
  letter-spacing: 0;
}

.chapter_block_mobile{
  width: 100%;
  display: block;
  background-color: #33A1A5;
  height: 100%;
}
.chapter_caret{
  text-align: right;
}
.view_chapters{
  margin-top: 1.5em;
  text-align: center;
  font-size: 1.5em;
  font-family: 'CooperHewitt-Medium';
}
.view_chapters p{
  color: white;
}
#view_caret{
  margin-top: -10px;;
  color: white !important;
}
.chapters {
  border-bottom: 2px solid rgba(255, 255, 255, .6);
  text-align: center;
  height: 20vh;

}
.home_ul{
  margin-left: -15%;
  margin-top: -5%;
}
.home_ul a li {
  color: white;
  font-size: 16pt;
  margin: 0;
}
#trailer_video {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding: 2% 0;
}

.exit {
  float: right;
  width: 25px;
  height: 25px;
  margin: 15px 10px;
  position: relative;
  top: -106.5%;
  right: 1%;
}

.exit a {
  color: black;
}

.exit a:hover {
  color: black;
}

canvas {
  display: block;
  position: absolute;
  top: 100%;
}

.embed-container iframe {
  /*position: absolute;*/
  top: 0%;
  left: 5%;
  width: 90%;
  height: 80%;
}

@-webkit-keyframes story-fade-in {
  0%   { opacity: 0; }
  10%  { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes story-fade-in {
  0%   { opacity: 0; }
  10%  { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes story-fade-in {
  0%   { opacity: 0; }
  10%  { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes story-fade-in {
  0%   { opacity: 0; }
  10%  { opacity: 0; }
  100% { opacity: 1; }
}
.fade-in {
  -webkit-animation: story-fade-in 2s; /* Safari 4+ */
  -moz-animation:    story-fade-in 2s; /* Fx 5+ */
  -o-animation:      story-fade-in 2s; /* Opera 12+ */
  animation:         story-fade-in 2s; /* IE 10+, Fx 29+ */
}
/*Mobile Menu */
.nav-side {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 250px;
  background-color: #2EC1C1;
  box-sizing: border-box;
  padding: 20px;
  color: white;
  margin-left: -250px;
  transition: margin 200ms ease-in-out;
}

.nav-side.nav-open {
  margin-left: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.nav-toggle {
  background: none !important;
  position: absolute;
  right: -40px;
  top: 0;
  width: 40px;
  height: 40px;
  text-decoration: none !important;
  text-align: center;
  border-bottom-right-radius: 3px;
}
.nav-toggle:before{
  content: "\2630";
  font-weight: bold;
  color: white;
  line-height: 40px;
  font-size: 36px;
}

.nav-side.nav-open .nav-toggle:before {
  content: "\2715";
}
.home_ul a .chapter_one:hover:after, .home_ul a .chapter_two:hover:after, .home_ul a .chapter_three:hover:after, .home_ul a .chapter_four:hover:after, .home_ul a .chapter_five:hover:after{
display: none;
}
.chapter_five{
  border-bottom: 0px;
}
#nav_ul a{
  color: white;
}
#nav_ul li{
  list-style-type: none;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid white;
}
.chapter_number{
  color: #333333;
  font-weight: 600;
  font-size: 36px;
}
.chapter_title{
  color: #333333;
  font-weight: 100;
  font-size: 22px;
}
#chapters_section{
  height: 100vh;
}
#sub-nav{
  margin-left: 20px;
  overflow-y: hidden;
  height: 220px;
  transition: height .45s ease-out;
  font-size: .9em;
  padding-bottom: 10px;
}
#sub-nav li{
  padding-bottom: 5px !important;
}
.no-display{
  height: 0 !important;
}
.btn-default, .btn-default:hover{
  border-radius: 0;
  border: 1px solid #008B8F;
  background-color: #008B8F;
  color: white;
text-transform: uppercase;
font-family: 'CooperHewitt-Medium', sans-serif;
font-size: 16px;
padding-top: 10px;
margin: 10pt 25vw;
width: 180px;
}
